body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: auto;
  background-color: #CFF9C5;
  box-sizing: border-box;
  border: 1px solid red;
}
.header .header-content {
  width: 70%;
  max-width: 1360px;
  height: 739px;
  margin: auto;
  margin-top: 39px;
  position: relative;
  border: 1px solid red;
}
.header .header-content .found-logo {
  position: absolute;
  top: 0;
  left: 0;
}
.header .header-content .navigation {
  width: 70%;
  max-height: 108px;
  max-width: 719px;
  margin: auto;
  border: 1px solid red;
}
.header .header-content .navigation .nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  padding-top: 30px;
  border: 1px solid red;
}
.header .header-content .navigation .nav-list > li, .header .header-content .navigation .nav-list a {
  text-decoration: none;
  list-style: none;
  border: 1px solid red;
}