@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/tt-norms-pro");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap");
html {
  scroll-behavior: smooth;
}

body, h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  -webkit-user-select: none; /* для Safari */
  -moz-user-select: none; /* для Firefox */
  -ms-user-select: none; /* для Internet Explorer/Edge */
  user-select: none;
}

html, body {
  background-color: #CFF9C5;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 4rem;
  right: 4rem;
  padding: 4px;
}
@media (max-width: 639px) {
  .hamburger {
    top: 1rem;
    right: 1rem;
  }
}

/*-----*/
.hamburger {
  width: 86px;
  height: 86px;
  background-repeat: no-repeat;
  cursor: pointer;
  user-select: none;
  position: fixed;
  z-index: 100;
  padding: 4px;
  background-image: url("../../assets/hamburgerMenu/Vector-HM-open.svg");
}
@media (max-width: 800px) {
  .hamburger {
    background-image: url("../../assets/hamburgerMenu/Burger_menu_800.svg");
    width: 50px;
    height: 50px;
  }
}

.open {
  background-image: url("../../assets/hamburgerMenu/Vector (Stroke).svg");
  width: 28px;
  height: 28px;
  border-radius: 40px;
  background-size: cover;
  border: 10px solid #FFE49F;
}
.open:hover {
  background-color: #FFF8E3;
  border: 10px solid #FFF8E3;
}

/*-----*/
.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.2s;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #FFE49F;
  color: white;
  list-style: none;
  padding-top: 4rem;
}
@media (max-width: 1000px) {
  .menu {
    left: 30%;
  }
}
@media (max-width: 800px) {
  .menu {
    left: 0;
  }
}
.menu .nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  padding: 10%;
  height: 30%;
}
.menu .nav-list > li, .menu .nav-list a {
  text-decoration: none;
  list-style: none;
  font-family: "Shantell Sans", cursive, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #414141;
}
.menu .nav-list > li:hover, .menu .nav-list a:hover {
  color: #73B064;
}
.menu .nav-list .menu-items {
  transition: transform 0.2s;
  top: 0;
  left: 100px;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #FFE49F;
  color: white;
  list-style: none;
}

.showMenu {
  transform: translateY(0);
}

.pop-up-paiment {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(115, 176, 100, 0.61);
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  z-index: 2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pop-up-paiment .pop-up-inner {
  position: relative;
  width: 100%;
  max-width: 563px;
}
.pop-up-paiment .pop-up-inner:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.payment-block-popup {
  width: 563px;
  height: 802px;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 639px) {
  .payment-block-popup {
    width: 99%;
    overflow: hidden;
  }
}
.payment-block-popup .paiment-block-wrapper-popup {
  width: 95%;
  height: 88%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.payment-block-popup .paiment-block-wrapper-popup > img {
  position: absolute;
  right: 9%;
  top: -3%;
  cursor: pointer;
}
.payment-block-popup .paiment-block-wrapper-popup h4 {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-align: left;
  margin: 0;
}
.payment-block-popup .paiment-block-wrapper-popup > p {
  font-family: "TT Norms Pro", sans-serif;
  color: #C1BFBF;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}
.payment-block-popup .paiment-block-wrapper-popup .choose-sum-wrap-popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 499px;
  height: 56px;
}
@media (max-width: 639px) {
  .payment-block-popup .paiment-block-wrapper-popup .choose-sum-wrap-popup {
    width: 100%;
    height: auto;
  }
}
.payment-block-popup .paiment-block-wrapper-popup .choose-sum-wrap-popup .sum-item-popup {
  padding: 16px 22px 16px 22px;
  border: 1px solid #73B064;
  border-radius: 40px;
  font-family: "TT Norms Pro", sans-serif;
  color: #A0A0A0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  cursor: pointer;
  flex: 1;
}
@media (max-width: 639px) {
  .payment-block-popup .paiment-block-wrapper-popup .choose-sum-wrap-popup .sum-item-popup {
    padding: 16px 20px 16px 20px;
  }
}
.payment-block-popup .paiment-block-wrapper-popup .choose-sum-wrap-popup .input {
  width: 130px;
  cursor: auto;
}
.payment-block-popup .paiment-block-wrapper-popup .choose-sum-wrap-popup .input::placeholder {
  color: #A0A0A0;
}
.payment-block-popup .paiment-block-wrapper-popup .choose-sum-wrap-popup .input:focus::placeholder {
  color: transparent;
}
.payment-block-popup .paiment-block-wrapper-popup .pay-slider {
  width: 499px;
  overflow: hidden;
}
.payment-block-popup .paiment-block-wrapper-popup .pay-slider .slide-wrap {
  display: flex;
  justify-content: flex-start;
  width: 836px;
  position: relative;
  left: -7px;
}
.payment-block-popup .paiment-block-wrapper-popup .pay-slider .slide-wrap .slide-item {
  width: 159px;
  border: 1px solid #73B064;
  border-radius: 40px;
  text-align: center;
  padding: 1% 0;
  color: #A0A0A0;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  cursor: pointer;
  margin-left: 7px;
}
.payment-block-popup .paiment-block-wrapper-popup .pay-slider .dots {
  height: 25px;
  width: 125px;
  margin: auto;
  margin-top: 2%;
}
.payment-block-popup .paiment-block-wrapper-popup .pay-slider .dots .dot-paiment-item {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #C0EAB5;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.payment-block-popup .paiment-block-wrapper-popup .pay-slider .dots .dot-active {
  background-color: #73B064;
}
.payment-block-popup .paiment-block-wrapper-popup .pay-slider .slide {
  width: 159px;
  border: 1px solid #73B064;
  border-radius: 40px;
  text-align: center;
  padding: 1% 0;
  color: #A0A0A0;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  cursor: pointer;
  margin-left: 7px;
}
.payment-block-popup .paiment-block-wrapper-popup .dots-pay {
  height: 25px;
  margin: 0 auto;
  margin-top: 2%;
}
.payment-block-popup .paiment-block-wrapper-popup .dots-pay .dot-popup {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #C0EAB5;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.payment-block-popup .paiment-block-wrapper-popup .dots-pay .dot-active {
  background-color: #73B064;
}
.payment-block-popup .paiment-block-wrapper-popup form .pay-input-form-popup {
  width: 499px;
  height: 66px;
  padding: 20px 32px;
  border-radius: 40px;
  border: 2px solid;
  margin-bottom: 8px;
  border: 1px solid #73B064;
  border-radius: 40px;
  text-align: center;
  padding: 1% 0;
  color: #A0A0A0;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  width: 100%;
}
.payment-block-popup .paiment-block-wrapper-popup form .pay-input-form-popup:focus::placeholder {
  color: transparent;
}
.payment-block-popup .paiment-block-wrapper-popup form .pay-form-submit-popup {
  width: 499px;
  height: 66px;
  padding: 20px 32px;
  border-radius: 40px;
  border: 2px solid;
  margin-bottom: 8px;
  border: 1px solid #73B064;
  border-radius: 40px;
  text-align: center;
  padding: 1% 0;
  color: #A0A0A0;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  background-color: #73B064;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}
.payment-block-popup .paiment-block-wrapper-popup form .pay-form-submit-popup:focus::placeholder {
  color: transparent;
}
.payment-block-popup .paiment-block-wrapper-popup form .form-checkbox {
  padding-left: 5%;
  cursor: none;
}
.payment-block-popup .paiment-block-wrapper-popup form .form-checkbox .pay-checkbox {
  width: 16px;
  height: 16px;
}
.payment-block-popup .paiment-block-wrapper-popup form .form-checkbox .pay-checkbox-text {
  font-family: "TT Norms Pro", sans-serif;
  color: #A0A0A0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}

#pay-active {
  background-color: #73B064;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
}

.second-popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(115, 176, 100, 0.61);
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  z-index: 2;
}
.second-popup .second-popup-content {
  width: 563px;
  height: 146px;
  top: 467px;
  left: 679px;
  padding: 56px 32px 56px 32px;
  border-radius: 40px;
  gap: 16px;
  background-color: #ffffff;
}
.second-popup .second-popup-content p {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.01em;
  text-align: left;
}

.modal-show {
  visibility: visible;
  opacity: 100;
}

.header {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: auto;
  background-color: #CFF9C5;
  box-sizing: border-box;
  overflow: hidden;
}
.header .header-content {
  width: 70%;
  margin: auto;
  padding: 39px;
  position: relative;
}
@media (max-width: 1600px) {
  .header .header-content {
    width: 80%;
  }
}
@media (max-width: 1360px) {
  .header .header-content {
    width: 90%;
  }
}
@media (max-width: 639px) {
  .header .header-content {
    width: 99%;
    padding: 3%;
  }
}
.header .header-content .found-logo {
  position: absolute;
  top: 39px;
  left: 39px;
}
@media (max-width: 768px) {
  .header .header-content .found-logo {
    width: 47px;
    height: 41px;
  }
}
@media (max-width: 638px) {
  .header .header-content .found-logo {
    top: 9px;
    left: 9px;
    width: 47px;
    height: 41px;
  }
}
.header .header-content .navigation {
  width: 70%;
  max-height: 108px;
  max-width: 719px;
  margin: auto;
}
@media (max-width: 1100px) {
  .header .header-content .navigation {
    display: none;
  }
}
.header .header-content .navigation .nav-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0;
  padding-top: 30px;
}
.header .header-content .navigation .nav-list > li, .header .header-content .navigation .nav-list a {
  text-decoration: none;
  list-style: none;
  font-family: "Shantell Sans", cursive, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #414141;
}
.header .header-content .navigation .nav-list:hover {
  color: #73B064;
}
.header .header-content .header-content-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;
}
.header .header-content .header-content-wrapper .text-content {
  flex: 1;
  margin-top: 9%;
}
.header .header-content .header-content-wrapper .text-content .batterfly-img {
  position: relative;
}
@media (max-width: 639px) {
  .header .header-content .header-content-wrapper .text-content .batterfly-img {
    height: 18px;
    width: 24px;
    position: absolute;
    top: 28%;
    left: 17%;
  }
}
@media (max-width: 500px) {
  .header .header-content .header-content-wrapper .text-content .batterfly-img {
    top: 26%;
    left: 21%;
  }
}
.header .header-content .header-content-wrapper .text-content .batterfly-img > img {
  padding-left: 80%;
  margin: auto;
}
@media (max-width: 1099px) {
  .header .header-content .header-content-wrapper .text-content .batterfly-img > img {
    margin-top: 5%;
  }
}
@media (max-width: 768px) {
  .header .header-content .header-content-wrapper .text-content .batterfly-img > img {
    padding-left: 55%;
    height: 42px;
    width: 55px;
  }
}
@media (max-width: 639px) {
  .header .header-content .header-content-wrapper .text-content .batterfly-img > img {
    height: 18px;
    width: 24px;
    position: absolute;
  }
}
.header .header-content .header-content-wrapper .text-content .text-content-title {
  font-size: 64px;
  margin-bottom: 7%;
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 500;
  color: #414141;
  width: 699px;
}
@media (max-width: 1000px) {
  .header .header-content .header-content-wrapper .text-content .text-content-title {
    width: 630px;
  }
}
@media (max-width: 768px) {
  .header .header-content .header-content-wrapper .text-content .text-content-title {
    font-size: 50px;
    width: 500px;
  }
}
@media (max-width: 639px) {
  .header .header-content .header-content-wrapper .text-content .text-content-title {
    font-size: 42px;
    width: 324px;
    margin-top: 27%;
    margin-bottom: 15%;
  }
}
.header .header-content .header-content-wrapper .text-content .text-content-title > span {
  font-size: 82px;
  font-family: "Shantell Sans", cursive, sans-serif;
  color: #73B064;
}
@media (max-width: 1000px) {
  .header .header-content .header-content-wrapper .text-content .text-content-title > span {
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  .header .header-content .header-content-wrapper .text-content .text-content-title > span {
    font-size: 50px;
  }
}
@media (max-width: 639px) {
  .header .header-content .header-content-wrapper .text-content .text-content-title > span {
    font-size: 42px;
  }
}
.header .header-content .header-content-wrapper .text-content .text-content-paragraph {
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 400;
  color: #414141;
  font-size: 24px;
  margin-top: 2%;
  white-space: pre-line;
  line-height: 30px;
}
@media (max-width: 1360px) {
  .header .header-content .header-content-wrapper .text-content .text-content-paragraph {
    font-size: 20px;
    margin: 0;
  }
}
@media (max-width: 862px) {
  .header .header-content .header-content-wrapper .text-content .text-content-paragraph {
    font-size: 20px;
    margin: 0;
    width: 451px;
    white-space: normal;
    padding-top: 2%;
  }
}
@media (max-width: 639px) {
  .header .header-content .header-content-wrapper .text-content .text-content-paragraph {
    width: 328px;
  }
}
.header .header-content .header-content-wrapper .text-content .choose-postcard-btn {
  padding: 16px 32px 16px 32px;
  border: 1px solid #73B064;
  border-radius: 56px;
  background-color: #73B064;
  margin-top: 7%;
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 292px;
}
.header .header-content .header-content-wrapper .text-content .choose-postcard-btn:hover {
  background-color: #F5B02B;
  border: 1px solid #F5B02B;
}
.header .header-content .header-content-wrapper .text-content .choose-postcard-btn:active {
  background-color: #F5B02B;
  border: 1px solid #73B064;
}
@media (max-width: 862px) {
  .header .header-content .header-content-wrapper .text-content .choose-postcard-btn {
    margin-top: 3%;
  }
}
@media (max-width: 639px) {
  .header .header-content .header-content-wrapper .text-content .choose-postcard-btn {
    width: 271px;
    height: 61px;
    margin: auto;
    bottom: 0;
    padding: 0;
    margin-top: 15%;
    font-size: 24px;
    line-height: 60px;
  }
}
.header .header-content .header-content-wrapper .image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 551px;
  height: 549px;
  padding: 15% 0 0 0;
}
@media (max-width: 1218px) {
  .header .header-content .header-content-wrapper .image-content {
    width: 264px;
    height: 343px;
    padding: 35% 0 0 0;
    position: relative;
    left: -10%;
  }
}
@media (max-width: 999px) {
  .header .header-content .header-content-wrapper .image-content {
    width: 200px;
    height: 260px;
    position: absolute;
    bottom: 0;
    left: 70%;
  }
}
@media (max-width: 768px) {
  .header .header-content .header-content-wrapper .image-content {
    left: 60%;
  }
}
@media (max-width: 700px) {
  .header .header-content .header-content-wrapper .image-content {
    bottom: -10%;
  }
}
@media (max-width: 639px) {
  .header .header-content .header-content-wrapper .image-content {
    padding: 0;
    top: 19%;
    width: 101px;
    height: 131px;
  }
}

.three-cards {
  max-width: 1920px;
  margin: auto;
  background-image: url("../../assets/three_cards/Vector.svg");
  background-color: #CFF9C5;
  min-height: 734px;
  display: flex;
  overflow: hidden;
}
@media (max-width: 1359px) {
  .three-cards {
    background-image: url("../../assets/three_cards/Vector-1000.svg");
    height: 442px;
    min-height: auto;
  }
}
@media (max-width: 888px) {
  .three-cards {
    background-image: url("../../assets/three_cards/Vector-768.svg");
    height: 866px;
  }
}
.three-cards .three-cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
}
@media (max-width: 888px) {
  .three-cards .three-cards-wrapper {
    flex-direction: column;
    height: 705px;
  }
}
.three-cards .three-cards-wrapper .cards-item img {
  width: 433px;
  height: 332px;
}
@media (max-width: 1359px) {
  .three-cards .three-cards-wrapper .cards-item img {
    width: 267px;
    height: 205px;
  }
}

.postcards {
  max-width: 1920px;
  margin: auto;
  background-color: #CFF9C5;
  background-image: url("../../assets/postcards/AdobeStock_58137 1858 1.svg");
  padding-top: 90px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1355px) {
  .postcards .left-flower {
    display: none;
  }
  .postcards .right-flower {
    display: none;
  }
  .postcards .orange-cloud-1000 {
    display: none;
  }
}
@media (max-width: 1355px) {
  .postcards {
    background-image: none;
  }
  .postcards .left-flower {
    background-image: url("../../assets/postcards/AdobeStock_5813718 60-left_flower.svg");
    width: 173px;
    height: 2265px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    top: 250px;
  }
  .postcards .right-flower {
    background-image: url("../../assets/postcards/AdobeStock_5813718 59-right-flower.svg");
    width: 173px;
    height: 2265px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    top: 250px;
  }
}
@media (max-width: 638px) {
  .postcards .left-flower {
    display: none;
  }
  .postcards .right-flower {
    display: none;
  }
  .postcards .orange-cloud-1000 {
    display: none;
  }
}
.postcards .postcards-title {
  background-repeat: no-repeat;
  width: 30%;
  height: auto;
  margin: auto;
  margin-bottom: 90px;
  background-image: url("../../assets/postcards/Vector.svg");
}
.postcards .postcards-title > h2 {
  font-family: "Shantell Sans", cursive, sans-serif;
  font-weight: 500;
  font-size: 60px;
  padding: 4% 0;
  color: #414141;
}
@media (max-width: 638px) {
  .postcards .postcards-title > h2 {
    font-size: 42px;
  }
}
@media (max-width: 769px) {
  .postcards .postcards-title {
    width: 50%;
  }
}
@media (max-width: 638px) {
  .postcards .postcards-title {
    width: 50%;
    height: 100px;
  }
}
@media (max-width: 638px) {
  .postcards .postcards-title {
    font-size: 42px;
  }
}
.postcards .postcards-wrapper {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 90px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1600px) {
  .postcards .postcards-wrapper {
    width: 95%;
  }
}
@media (max-width: 1355px) {
  .postcards .postcards-wrapper {
    width: 654px;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
}
@media (max-width: 1355px) and (max-width: 769px) {
  .postcards .postcards-wrapper {
    width: 570px;
  }
}
@media (max-width: 1355px) and (max-width: 638px) {
  .postcards .postcards-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 1355px) {
  .postcards .postcards-wrapper .orange-cloud-1000 {
    display: block;
    position: absolute;
    top: -50px;
    left: -130px;
  }
}
@media (max-width: 1355px) and (max-width: 769px) {
  .postcards .postcards-wrapper .orange-cloud-1000 {
    top: -30px;
    left: -10px;
  }
}
@media (max-width: 1355px) and (max-width: 638px) {
  .postcards .postcards-wrapper .orange-cloud-1000 {
    display: none;
  }
}
@media (max-width: 1355px) {
  .postcards .postcards-wrapper .orange-cloud-1000 img {
    width: 255px;
    height: 164px;
  }
}
@media (max-width: 1355px) and (max-width: 769px) {
  .postcards .postcards-wrapper .orange-cloud-1000 img {
    width: 175px;
    height: 128px;
  }
}
.postcards .postcards-wrapper .cards-item {
  flex-basis: 48%;
  margin: 5px;
  background-color: aliceblue;
  border-radius: 40px;
  height: 429px;
  background-color: #FFF8E3;
}
@media (max-width: 638px) {
  .postcards .postcards-wrapper .cards-item {
    width: 328px;
    height: 647px;
    flex-basis: auto;
  }
}
@media (max-width: 638px) {
  .postcards .postcards-wrapper .cards-item-slider {
    max-width: 400px;
    width: 95%;
    margin: auto;
  }
}
.postcards .postcards-wrapper .first-elem {
  background-color: #CFF9C5;
}
@media (max-width: 1355px) {
  .postcards .postcards-wrapper .first-elem {
    display: none;
    width: 0;
  }
}
.postcards .postcards-wrapper .first-elem .first-item {
  background-color: #CFF9C5;
  background-image: url("../../assets/postcards/Group_118.svg");
  background-repeat: no-repeat;
  height: 70%;
  width: 70%;
  margin: 7% 0 0 7%;
}
@media (max-width: 1355px) {
  .postcards .postcards-wrapper .first-elem .first-item {
    display: none;
    width: 0;
  }
}
.postcards .postcards-wrapper .cards-item-inner-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10%;
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item img {
  width: 178px;
  height: 293px;
  border: 3px solid #73B064;
  border-radius: 20px;
}
@media (max-width: 638px) {
  .postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item img {
    width: 178px;
    height: 293px;
    border-radius: 20px;
    margin-bottom: 15%;
    order: 1;
  }
}
@media (max-width: 638px) {
  .postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content {
    order: 2;
  }
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .choose {
  background-repeat: no-repeat;
  height: 40%;
}
@media (max-width: 638px) {
  .postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .choose {
    width: 245.9px;
    height: 112.65px;
    padding-bottom: 15%;
  }
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .arrow {
  background-repeat: no-repeat;
  height: 40%;
}
@media (max-width: 638px) {
  .postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .arrow {
    display: none;
  }
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .postcard-btn {
  width: 249px;
  height: 45px;
  padding: 8px 76px 8px 76px;
  border-radius: 56px;
  background-color: #73B064;
  margin-top: 3%;
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #73B064;
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .postcard-btn:hover {
  background-color: #F5B02B;
  border: 1px solid #F5B02B;
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .postcard-btn:active {
  background-color: #F5B02B;
  border: 1px solid #73B064;
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .choose-card-1 {
  background-image: url("../../assets/postcards/card-1/Group 140.svg");
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .arrow-card-1 {
  background-image: url(../../assets/postcards/card-1/Frame\ 123.svg);
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .choose-card-2 {
  background-image: url("../../assets/postcards/card-2/Group 140.svg");
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .arrow-card-2 {
  background-image: url(../../assets/postcards/card-2/Group\ 141.svg);
  margin-left: 50%;
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .choose-card-3 {
  background-image: url("../../assets/postcards/card-3/Group 140.svg");
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .arrow-card-3 {
  background-image: url(../../assets/postcards/card-3/Group\ 141.svg);
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .choose-card-4 {
  background-image: url("../../assets/postcards/card-4/Group 140.svg");
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .arrow-card-4 {
  background-image: url(../../assets/postcards/card-4/Group\ 141.svg);
  margin-left: 50%;
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .choose-card-5 {
  background-image: url("../../assets/postcards/card-5/Group 140.svg");
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-item-content .arrow-card-5 {
  background-image: url(../../assets/postcards/card-5/Group\ 141.svg);
}
.postcards .postcards-wrapper .cards-item-inner-wrapper .postcard-gap-left {
  margin-left: 9%;
}
@media (min-width: 638px) {
  .postcards .dots {
    display: none;
  }
}
@media (max-width: 637px) {
  .postcards .dots {
    height: 25px;
    width: 225px;
    margin: auto;
    margin-top: 2%;
  }
  .postcards .dots .dot {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #C0EAB5;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
  }
  .postcards .dots .dot-active {
    background-color: #73B064;
  }
}

.about-fund {
  max-width: 1920px;
  background-image: url(../../assets/fund/Vector.svg);
  background-repeat: no-repeat;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 639px) {
  .about-fund {
    background-image: url(../../assets/fund/Vector-640.svg);
  }
}
.about-fund .about-fund-wrapper {
  height: 1627px;
  padding: 10% 0 10% 0;
  width: 80%;
  margin: auto;
}
@media (max-width: 1600px) {
  .about-fund .about-fund-wrapper {
    width: 90%;
  }
}
@media (max-width: 1300px) {
  .about-fund .about-fund-wrapper {
    padding: 30% 0 15% 0;
  }
}
@media (max-width: 1101px) {
  .about-fund .about-fund-wrapper {
    height: 1650px;
    padding: 30% 0 1% 0;
  }
}
@media (max-width: 999px) {
  .about-fund .about-fund-wrapper {
    height: 1769px;
  }
}
@media (max-width: 620px) {
  .about-fund .about-fund-wrapper {
    padding: 30% 0 0 0;
  }
}
.about-fund .about-fund-wrapper .about-fund-title {
  background-repeat: no-repeat;
  width: 30%;
  height: auto;
  margin: auto;
  margin-bottom: 90px;
  background-image: url("../../assets/fund/Vector-1.svg");
  width: 300px;
}
.about-fund .about-fund-wrapper .about-fund-title > h2 {
  font-family: "Shantell Sans", cursive, sans-serif;
  font-weight: 500;
  font-size: 60px;
  padding: 4% 0;
  color: #414141;
}
@media (max-width: 638px) {
  .about-fund .about-fund-wrapper .about-fund-title > h2 {
    font-size: 42px;
  }
}
@media (max-width: 639px) {
  .about-fund .about-fund-wrapper .about-fund-title {
    background-image: url("../../assets/fund/Vector-360.svg");
  }
}
.about-fund .af-first-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 27%;
  width: 85%;
  margin: auto;
}
@media (max-width: 1600px) {
  .about-fund .af-first-block {
    width: 90%;
  }
}
@media (max-width: 1001px) {
  .about-fund .af-first-block {
    height: 18%;
    padding-bottom: 15%;
  }
}
@media (max-width: 999px) {
  .about-fund .af-first-block {
    flex-direction: column;
    height: 500px;
    align-items: center;
    padding-bottom: 0;
  }
}
@media (max-width: 639px) {
  .about-fund .af-first-block {
    align-items: center;
  }
}
.about-fund .af-first-block .af-pic-1 {
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
}
@media (max-width: 1359px) {
  .about-fund .af-first-block .af-pic-1 {
    width: 267px;
    height: 243px;
  }
}
.about-fund .af-first-block .af-text-1 {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 630px;
  padding-top: 20%;
  transform: rotate(-7deg);
}
@media (max-width: 1359px) {
  .about-fund .af-first-block .af-text-1 {
    height: 99.79px;
    font-size: 20px;
    width: 505px;
    padding-top: 10%;
  }
}
@media (max-width: 639px) {
  .about-fund .af-first-block .af-text-1 {
    width: 300px;
  }
}
.about-fund .af-second-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 27%;
  width: 85%;
}
@media (max-width: 1600px) {
  .about-fund .af-second-block {
    width: 90%;
  }
}
@media (max-width: 1359px) {
  .about-fund .af-second-block {
    height: 18%;
    padding-bottom: 15%;
  }
}
@media (max-width: 999px) {
  .about-fund .af-second-block {
    flex-direction: column;
    height: 500px;
    align-items: center;
    padding-bottom: 0;
  }
}
@media (max-width: 639px) {
  .about-fund .af-second-block {
    align-items: normal;
  }
}
.about-fund .af-second-block .af-text-2 {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 630px;
  padding-top: 20%;
  transform: rotate(7deg);
}
@media (max-width: 1359px) {
  .about-fund .af-second-block .af-text-2 {
    height: 99.79px;
    order: 2;
    font-size: 20px;
    width: 505px;
    padding-top: 10%;
  }
}
@media (max-width: 999px) {
  .about-fund .af-second-block .af-text-2 {
    padding-top: 0;
  }
}
@media (max-width: 639px) {
  .about-fund .af-second-block .af-text-2 {
    width: 300px;
  }
}
.about-fund .af-second-block .af-pic-2 {
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
}
@media (max-width: 1359px) {
  .about-fund .af-second-block .af-pic-2 {
    width: 267px;
    height: 243px;
    order: 1;
  }
}
.about-fund .af-third-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 27%;
  width: 85%;
  margin: auto;
}
@media (max-width: 1600px) {
  .about-fund .af-third-block {
    width: 90%;
  }
}
@media (max-width: 1359px) {
  .about-fund .af-third-block {
    height: 18%;
    padding-bottom: 15%;
  }
}
@media (max-width: 999px) {
  .about-fund .af-third-block {
    flex-direction: column;
    height: 500px;
    align-items: center;
    padding-bottom: 0;
  }
}
@media (max-width: 639px) {
  .about-fund .af-third-block {
    align-items: normal;
  }
}
.about-fund .af-third-block .af-pic-3 {
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
}
@media (max-width: 1359px) {
  .about-fund .af-third-block .af-pic-3 {
    width: 267px;
    height: 243px;
  }
}
.about-fund .af-third-block .af-text-3 {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 630px;
  padding-top: 20%;
  transform: rotate(-7deg);
}
@media (max-width: 1359px) {
  .about-fund .af-third-block .af-text-3 {
    height: 99.79px;
    font-size: 20px;
    width: 505px;
    padding-top: 10%;
  }
}
@media (max-width: 999px) {
  .about-fund .af-third-block .af-text-3 {
    padding-top: 0;
  }
}
@media (max-width: 639px) {
  .about-fund .af-third-block .af-text-3 {
    width: 300px;
  }
}
.about-fund .af-line {
  background-image: url("../../assets/fund/af-line/Vector 11.svg");
  background-repeat: no-repeat;
  height: 3%;
  width: 70%;
  margin: auto;
}

.thanks-mom {
  max-width: 1920px;
  margin: auto;
  position: relative;
  bottom: -85px;
  border-top: 3px solid #CFF9C5;
  overflow: hidden;
}
.thanks-mom .thanks-mom-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 70%;
  margin: auto;
}
@media (max-width: 1600px) {
  .thanks-mom .thanks-mom-wrapper {
    width: 90%;
  }
}
@media (max-width: 1300px) {
  .thanks-mom .thanks-mom-wrapper {
    width: 99%;
  }
}
@media (max-width: 999px) {
  .thanks-mom .thanks-mom-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.thanks-mom .thanks-mom-wrapper .mom-pic {
  flex: 1;
}
@media (max-width: 999px) {
  .thanks-mom .thanks-mom-wrapper .mom-pic {
    order: 2;
  }
}
@media (max-width: 639px) {
  .thanks-mom .thanks-mom-wrapper .mom-pic {
    position: relative;
    order: 2;
    width: 328px;
    height: 230px;
  }
}
@media (max-width: 1208px) {
  .thanks-mom .thanks-mom-wrapper .mom-pic img {
    height: 377px;
    width: 480px;
  }
}
@media (max-width: 999px) {
  .thanks-mom .thanks-mom-wrapper .mom-pic img {
    height: 230px;
    width: 294px;
  }
}
.thanks-mom .thanks-mom-wrapper .mom-text {
  flex: 1;
}
@media (max-width: 1008px) {
  .thanks-mom .thanks-mom-wrapper .mom-text {
    padding-top: 10%;
  }
}
@media (max-width: 999px) {
  .thanks-mom .thanks-mom-wrapper .mom-text {
    padding-top: 0;
    width: 457px;
  }
}
@media (max-width: 639px) {
  .thanks-mom .thanks-mom-wrapper .mom-text {
    position: relative;
    order: 1;
    left: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
.thanks-mom .thanks-mom-wrapper .mom-text > p {
  font-family: "Shantell Sans", cursive, sans-serif;
  color: #414141;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  padding-top: 35%;
}
@media (max-width: 1208px) {
  .thanks-mom .thanks-mom-wrapper .mom-text > p {
    padding-top: 5%;
  }
}
@media (max-width: 639px) {
  .thanks-mom .thanks-mom-wrapper .mom-text > p {
    font-size: 24px;
  }
}
.thanks-mom .thanks-mom-wrapper .mom-text > a > button {
  padding: 16px 32px 16px 32px;
  border: 1px solid #73B064;
  border-radius: 56px;
  background-color: #73B064;
  margin-top: 7%;
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 292px;
  margin-left: 30%;
  width: 292px;
  height: 63px;
}
.thanks-mom .thanks-mom-wrapper .mom-text > a > button:hover {
  background-color: #F5B02B;
  border: 1px solid #F5B02B;
}
.thanks-mom .thanks-mom-wrapper .mom-text > a > button:active {
  background-color: #F5B02B;
  border: 1px solid #73B064;
}
@media (max-width: 639px) {
  .thanks-mom .thanks-mom-wrapper .mom-text > a > button {
    font-size: 24px;
  }
}
@media (max-width: 639px) {
  .thanks-mom .thanks-mom-wrapper .mom-text > a > button {
    margin-left: 0;
  }
}

.donate {
  max-width: 1920px;
  background-image: url(../../assets/donate/Vector.png);
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .donate {
    background-image: url(../../assets/donate/Vector-1000.svg);
  }
}
.donate .donate-wrap {
  padding-top: 10%;
  margin: auto;
}
@media (max-width: 1356px) {
  .donate .donate-wrap {
    width: 90%;
  }
}
@media (max-width: 888px) {
  .donate .donate-wrap {
    width: 99%;
  }
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-text {
    display: none;
  }
}
.donate .donate-wrap .donate-text .donate-p {
  white-space: pre-line;
  margin: auto;
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  line-height: 56px;
}
@media (max-width: 1356px) {
  .donate .donate-wrap .donate-text .donate-p {
    font-size: 20px;
  }
}
.donate .donate-wrap .donate-text .donate-p > span {
  font-family: "Shantell Sans", cursive, sans-serif;
  color: #73B064;
}
.donate .donate-wrap .donate-text .donate-flower {
  display: flex;
  justify-content: center;
}
.donate .donate-wrap .donate-text .donate-flower > img {
  width: 63px;
  padding: 3% 0 0 0;
  margin: auto;
}
@media (max-width: 770px) {
  .donate .donate-wrap .donate-text .donate-flower > img {
    width: 48px;
    height: 48px;
  }
}
.donate .donate-wrap .donate-title {
  background-repeat: no-repeat;
  width: 30%;
  height: auto;
  margin: auto;
  margin-bottom: 90px;
  background-image: url("../../assets/fund/Vector-1.svg");
  width: 300px;
}
.donate .donate-wrap .donate-title > h2 {
  font-family: "Shantell Sans", cursive, sans-serif;
  font-weight: 500;
  font-size: 60px;
  padding: 4% 0;
  color: #414141;
}
@media (max-width: 638px) {
  .donate .donate-wrap .donate-title > h2 {
    font-size: 42px;
  }
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-title {
    background-image: url("../../assets/fund/Vector-360.svg");
    height: 150px;
    font-size: 46px;
    width: 50%;
  }
}
.donate .donate-wrap .donate-title > h2 {
  position: relative;
  left: -70px;
  margin-top: 30%;
}
@media (max-width: 1358px) {
  .donate .donate-wrap .donate-title > h2 {
    margin-top: 10%;
  }
}
.donate .donate-wrap .donate-pay {
  max-width: 1360px;
  height: 852px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
  box-sizing: border-box;
  gap: 70px;
  border-radius: 40px;
  background-color: #FFF4D7;
  position: relative;
  margin: auto;
}
@media (max-width: 1440px) {
  .donate .donate-wrap .donate-pay {
    padding: 0 0;
  }
}
@media (max-width: 1358px) {
  .donate .donate-wrap .donate-pay {
    padding: 7% 7%;
    height: auto;
    width: 780px;
    gap: 10px;
  }
}
@media (max-width: 888px) {
  .donate .donate-wrap .donate-pay {
    padding: 7% 0;
    width: 600px;
  }
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay {
    padding: 7% 0;
    width: 100%;
  }
}
.donate .donate-wrap .donate-pay > img {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay > img {
    bottom: -12%;
  }
}
.donate .donate-wrap .donate-pay .donate-pay-text {
  width: 480px;
  height: 226px;
  position: relative;
}
@media (max-width: 1358px) {
  .donate .donate-wrap .donate-pay .donate-pay-text {
    order: 1;
  }
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .donate-pay-text {
    width: 100%;
  }
}
.donate .donate-wrap .donate-pay .donate-pay-text > p {
  font-family: "Shantell Sans", cursive, sans-serif;
  color: #414141;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .donate-pay-text > p {
    font-size: 24px;
    padding: 0 0 0 7%;
    width: 85%;
  }
}
.donate .donate-wrap .donate-pay .donate-pay-text > p > span {
  font-size: 50px;
  color: #FFCE00;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .donate-pay-text > p > span {
    font-size: 24px;
  }
}
.donate .donate-wrap .donate-pay .donate-pay-text > img {
  position: absolute;
  right: 7%;
  top: 50%;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .donate-pay-text > img {
    font-size: 24px;
  }
}
.donate .donate-wrap .donate-pay .donate-qr-code {
  width: 241px;
  height: 283px;
}
@media (max-width: 1358px) {
  .donate .donate-wrap .donate-pay .donate-qr-code {
    order: 4;
  }
}
.donate .donate-wrap .donate-pay .send-letter {
  width: 289px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1358px) {
  .donate .donate-wrap .donate-pay .send-letter {
    order: 3;
  }
}
.donate .donate-wrap .donate-pay .send-letter > p {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 32px;
  font-weight: 400;
  line-height: 60px;
}
.donate .donate-wrap .donate-pay .send-letter > img {
  cursor: pointer;
}
@media (max-width: 1358px) {
  .donate .donate-wrap .donate-pay .painment-form {
    width: 100%;
    order: 2;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block {
  width: 563px;
  height: 802px;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .painment-form .payment-block {
    width: 99%;
    overflow: hidden;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper {
  width: 95%;
  height: 88%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .help-field {
  display: flex;
  flex-wrap: wrap;
  width: 499px;
  height: 56px;
  border-radius: 40px;
  border: 1px solid #73B064;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .help-field {
    width: 100%;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .help-field .one-time {
  width: 193px;
  padding: 16px 28px 16px 28px;
  border-radius: 56px;
  font-family: "TT Norms Pro", sans-serif;
  color: #A0A0A0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .help-field .one-time {
    flex: 1;
    font-size: 12px;
    padding: 0;
    padding-top: 4%;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .help-field .mounthly {
  width: 193px;
  padding: 16px 28px 16px 28px;
  border-radius: 56px;
  font-family: "TT Norms Pro", sans-serif;
  color: #A0A0A0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .help-field .mounthly {
    flex: 1;
    font-size: 12px;
    padding: 0;
    padding-top: 4%;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .under-help-field {
  white-space: pre-line;
  font-family: "TT Norms Pro", sans-serif;
  color: #A0A0A0;
  font-size: 12px;
  padding-left: 5%;
  position: relative;
  top: -2%;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .choose-sum-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 499px;
  height: 56px;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .choose-sum-wrap {
    width: 100%;
    height: auto;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .choose-sum-wrap .sum-item {
  padding: 16px 22px 16px 22px;
  border: 1px solid #73B064;
  border-radius: 40px;
  font-family: "TT Norms Pro", sans-serif;
  color: #A0A0A0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .choose-sum-wrap .sum-item {
    padding: 16px 20px 16px 20px;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .choose-sum-wrap .input {
  width: 130px;
  cursor: auto;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .choose-sum-wrap .input::placeholder {
  color: #A0A0A0;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .choose-sum-wrap .input:focus::placeholder {
  color: transparent;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .pay-slider {
  width: 499px;
  overflow: hidden;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .pay-slider .slide-wrap {
  display: flex;
  justify-content: flex-start;
  width: 836px;
  position: relative;
  left: -7px;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .pay-slider .slide-wrap .slide-item {
  width: 159px;
  border: 1px solid #73B064;
  border-radius: 40px;
  text-align: center;
  padding: 1% 0;
  color: #A0A0A0;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  cursor: pointer;
  margin-left: 7px;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .pay-slider .dots {
  height: 25px;
  width: 125px;
  margin: auto;
  margin-top: 2%;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .pay-slider .dots .dot-paiment-item {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #C0EAB5;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .paiment-block-wrapper .pay-slider .dots .dot-active {
  background-color: #73B064;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .pay-input-form {
  width: 499px;
  height: 66px;
  padding: 20px 32px;
  border-radius: 40px;
  border: 2px solid;
  margin-bottom: 8px;
  border: 1px solid #73B064;
  border-radius: 40px;
  text-align: center;
  padding: 1% 0;
  color: #A0A0A0;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .pay-input-form:focus::placeholder {
  color: transparent;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .painment-form .payment-block .pay-input-form {
    width: 100%;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .pay-form-submit {
  width: 499px;
  height: 66px;
  padding: 20px 32px;
  border-radius: 40px;
  border: 2px solid;
  margin-bottom: 8px;
  border: 1px solid #73B064;
  border-radius: 40px;
  text-align: center;
  padding: 1% 0;
  color: #A0A0A0;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  background-color: #73B064;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .pay-form-submit:focus::placeholder {
  color: transparent;
}
@media (max-width: 639px) {
  .donate .donate-wrap .donate-pay .painment-form .payment-block .pay-form-submit {
    width: 100%;
  }
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .form-checkbox {
  padding-left: 5%;
  cursor: none;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .form-checkbox .pay-checkbox {
  width: 16px;
  height: 16px;
}
.donate .donate-wrap .donate-pay .painment-form .payment-block .form-checkbox .pay-checkbox-text {
  font-family: "TT Norms Pro", sans-serif;
  color: #A0A0A0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}

#pay-active {
  background-color: #73B064;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
}

.footer {
  max-width: 1920px;
  margin: auto;
  background-color: #ffffff;
  padding-top: 10%;
  overflow: hidden;
}
@media (max-width: 639px) {
  .footer {
    padding-top: 50%;
  }
}
.footer .find-family-wrapper {
  width: 70%;
  margin: auto;
}
@media (max-width: 1100px) {
  .footer .find-family-wrapper {
    width: 100%;
  }
}
.footer .find-family-wrapper .find-family-links > a {
  display: block;
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.footer .find-family-wrapper .find-family-links > p {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.footer .find-family-wrapper .find-family-links .social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.footer .find-family-wrapper .find-family-links .social-icons > li {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.footer .find-family-wrapper .find-family-links .social-icons a {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 59px;
  height: 59px;
}
.footer .find-family-wrapper .find-family-links .social-icons a:hover {
  background-color: #e0e0e0;
}
.footer .find-family-wrapper .find-family-links .social-icons a::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 59px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.footer .find-family-wrapper .find-family-links .social-icons .social-icon-vk::before {
  background-image: url("../../assets/footer/Vector.svg");
}
.footer .find-family-wrapper .find-family-links .social-icons .social-icon-telegram::before {
  background-image: url("../../assets/footer/Vector-tme.svg");
}
.footer .find-family-wrapper .find-family-links .social-icons .social-icon-send::before {
  background-image: url("../../assets/footer/Vector-send.svg");
}
.footer .find-family-wrapper .requisites-wrap {
  display: flex;
  flex-direction: row;
  height: 110px;
  padding: 7% 0;
  user-select: text;
}
@media (max-width: 1100px) {
  .footer .find-family-wrapper .requisites-wrap {
    flex-direction: column;
    height: auto;
  }
}
.footer .find-family-wrapper .requisites-wrap > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2%;
}
.footer .find-family-wrapper .requisites-wrap > div .req-up {
  display: flex;
  flex-direction: column;
}
.footer .find-family-wrapper .requisites-wrap > div .req-up .reg-title {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 500;
}
.footer .find-family-wrapper .requisites-wrap > div .req-up .reg-text {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5%;
}
.footer .find-family-wrapper .requisites-wrap > div .req-down {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
}
.footer .find-family-wrapper .requisites-wrap > div .req-down .reg-title {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 500;
}
.footer .find-family-wrapper .requisites-wrap > div .req-down .reg-text {
  font-family: "TT Norms Pro", sans-serif;
  color: #414141;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: 400;
}