.donate{
  position: relative;
  top: -100px;
  max-width: 1920px;
  background-image: url(../../assets/donate/Vector.png);
  background-repeat: no-repeat;
  margin: auto;

  height: 2372px; // потом удалить

  .donate-wrap{
    padding-top: 10%;
    width: 70%;
    margin: auto;

    .donate-text {
      .donate-p{
        white-space: pre-line;
        margin: auto;
        font-family: $text-norms-pro;
        color: $text-color;
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        line-height: 56px;

        &>span{
          font-family: $text-shantell-sans;
          color: $bg-color-green;
        }
      }

      .donate-flower{
        display: flex;
        justify-content: center;

        &>img{
        width: 63px;
        padding: 3% 0 0 0;
        margin: auto;
        }
      }
    }

    .donate-title {
      @include block-title();
      background-image: url("../../assets/fund/Vector-1.svg");
      width: 300px;

      &>h2{
        position: relative;
        left: -70px;
        margin-top: 30%;
      }
    }

    .donate-pay{
      width: 1360px;
      height: 852px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0 7%;
      box-sizing: border-box;
      gap: 70px;
      border-radius: 40px;
      background-color: $color-pink-light;
      position: relative;

      &>img{
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .donate-pay-text{
        width: 480px;
        height: 226px;
        position: relative;

        &>p{
          font-family: $text-shantell-sans;
          color: $text-color;
          font-size: 40px;
          font-weight: 500;
          line-height: 54px;
          letter-spacing: 0em;
          text-align: left;

          &>span{
            font-size: 50px;
            color: $text-color-orange;
          }
        }

        &>img{
          position: absolute;
          right: -7%;
          top: 30%;
        }
      }
      .donate-qr-code{
        width: 241px;
        height: 283px;
      }
      .send-letter{
        width: 289px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &>p{
          font-family: $text-norms-pro;
          color: $text-color;
          font-size: 32px;
          font-weight: 400;
          line-height: 60px;
        }
      }
      .payment-block{
        width: 563px;
        height: 732px;
        background-color: $text-color-white;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .paiment-block-wrapper{
          width: 88%;
          height: 88%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;

          .help-field{
            display: flex;
            flex-wrap: wrap;
            width: 499px;
            height: 56px;
            border-radius: 40px;
            border: 1px solid $bg-color-green;

            .one-time{
              @include help-field-block();
            }
            .mounthly{
              @include help-field-block();
            }
          }
          .under-help-field{
            white-space: pre-line;
            font-family: $text-norms-pro;
            color: $text-color-placeholder;
            font-size: 12px;
            padding-left: 5%;
            position: relative;
            top: -2%
          }

          .choose-sum-wrap{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 499px;
            height: 56px;
          
            .sum-item{
              padding: 16px 22px 16px 22px;
              border: 1px solid $bg-color-green;
              border-radius: 40px;
              font-family: $text-norms-pro;
              color: $text-color-placeholder;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0.01em;
              text-align: center;
              cursor: pointer;
            }

            .input {
              width: 130px;
              cursor: auto;

              &::placeholder {
                color: $text-color-placeholder;
              }

              &:focus::placeholder {
                color: transparent;
              }
            }
          }

          .pay-slider {
           @include pay-slider();
          }
        }

        form{

          .pay-input-form{
            @include pay-input-form()
          }
          .pay-form-submit{
            @include pay-input-form();
            @include pay-active();
            cursor: pointer;
          }
          .form-checkbox{
            @include pay-checkbox(); 
            padding-left: 5%;
            cursor: none;
          }
        }
      }
    }
  }
}

#pay-active {
@include pay-active();
}