.header {
  width: 100%;
  max-width: $desktop-width;
  height: auto;
  margin: auto;
  background-color: $bg-color-light-green;
  box-sizing: border-box;

  .header-content{
    width: 70%;
    max-width: 1360px;
    height: 739px;
    margin: auto;
    padding: 39px;
    position: relative;

    .found-logo {
      position: absolute;
      top: 39px;
      left: 39px;
    }

    .navigation{
        width: 70%;
        max-height: 108px;
        max-width: 719px;
        margin: auto;

      .nav-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 0;
        padding-top: 30px;
        
        & > li, a {
          text-decoration: none;
          list-style: none; 
          font-family: 'Shantell Sans', cursive, sans-serif;
          font-weight: 500;
          font-size: 24px;
          color: $text-color;
        }
      }
    }

    .header-content-wrapper{
      display: flex;
      flex-direction: row;
      height: auto;
      margin-top: 5%;

      .text-content{
        flex: 1;
        .batterfly-img{
          position: relative;
          &>img {
            padding-left: 80%;
            height: 100px;
            margin: auto;

          }
        }
        .text-content-title{
          font-size: 60px;
          margin-bottom: 7%;
          font-family: 'TT Norms Pro', sans-serif;
          font-weight: 500;
          color: $text-color;
          &>span{
            font-size: 82px;
            font-family: 'Shantell Sans', cursive, sans-serif;
            color: $bg-color-green;
          }
        }
        .text-content-paragraph {
          font-family: 'TT Norms Pro', sans-serif;
          font-weight: 400;
          color: $text-color;
          font-size: 24px;
          margin-top: 2%;
        }
        .choose-postcard-btn{
          @include choose-postcard-btn();
        }
      }
      .image-content {
        flex: 1;
        display: flex;
        justify-content: center;
      }
    }
  }
}