.pop-up-paiment{
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgb(115 176 100 / 61%);
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  z-index: 4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .pop-up-inner{
    position: relative;
    width: 100%;
    max-width: 563px;

    &:hover {
      -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    }


  }
}



.payment-block-popup {
  width: 563px;
  height: auto;
  background-color: $text-color-white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  @media (max-width: 639px){
    width: 99%;
    overflow: hidden;
  }

  .paiment-block-wrapper-popup{
    width: 95%;
    height: 88%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

      &>img {
        position: absolute;
        right: 9%;
        top: -3%;
        cursor: pointer;
      }

      h4 {
        font-family: $text-norms-pro;
        color: $text-color;
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0.01em;
        text-align: left;
        margin: 0;
      }

      &>p {
        font-family: $text-norms-pro;
        color: #C1BFBF;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
      }

      .choose-sum-wrap-popup{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 499px;
        height: 56px;

        @media (max-width: 639px){
          width: 100%;      
          height: auto;      
        }
      
        .sum-item-popup{
          padding: 16px 22px 16px 22px;
          border: 1px solid $bg-color-green;
          border-radius: 40px;
          font-family: $text-norms-pro;
          color: $text-color-placeholder;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.01em;
          text-align: center;
          cursor: pointer;
          flex: 1;

          @media (max-width: 639px){
            padding: 16px 20px 16px 20px;          
          }
        }

        .input {
          width: 130px;
          cursor: auto;

          &::placeholder {
            color: $text-color-placeholder;
          }

          &:focus::placeholder {
            color: transparent;
          }
        }
      }

      .pay-slider {
       @include pay-slider();
       
        .slide {
          width: 159px; 
          border: 1px solid $bg-color-green;
          border-radius: 40px;
          text-align: center;
          padding: 1% 0;
          color: $text-color-placeholder;
          font-family: $text-norms-pro;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0.01em;
          cursor: pointer;
          margin-left: 7px;
        }
      }

      .dots-pay {
        height: 25px;
        margin: 0 auto;
        margin-top: 2%;
    
        .dot-popup {
          display: inline-block;
          width: 24px; 
          height: 24px; 
          background-color: $color-dot-green-light;
          border-radius: 50%; 
          margin: 0 7px; 
          cursor: pointer; 
        }
    
        .dot-active {
          background-color: $bg-color-green;
        }
      }

      form{

        .pay-input-form-popup{
          @include pay-input-form();
          width: 100%;
        }
        .pay-form-submit-popup{
          @include pay-input-form();
          @include pay-active();
          cursor: pointer;
          width: 100%;
        }
        .form-checkbox{
          @include pay-checkbox(); 
          padding-left: 5%;
          cursor: none;
        }
      }
  }
}

#pay-active {
  @include pay-active();
}

.second-popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgb(115 176 100 / 61%);
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  z-index: 2;

  .second-popup-content{
    width: 563px;
    height: 146px;
    top: 467px;
    left: 679px;
    padding: 56px 32px 56px 32px;
    border-radius: 40px;
    gap: 16px;
    background-color: $text-color-white;

    p {
      font-family: $text-norms-pro;
      color: $text-color;
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0.01em;
      text-align: left;
    }
  }
}

.modal-show {
  visibility: visible;
  opacity: 100;
}