.thanks-mom{
  max-width: 1920px;
  margin: auto;
  position: relative;
  bottom: -85px;
  z-index: -1;
  border-top: 3px solid $bg-color-light-green;

  .thanks-mom-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start ;
    width: 70%;
    margin: auto;
    
    .mom-pic{
      flex: 1;
    }

    .mom-text {
      flex: 1;

      &>p{
        font-family: 'Shantell Sans', cursive, sans-serif;
        color: $text-color;
        font-size: 40px;
        font-weight: 700;
        line-height: 54px;
        padding-top: 35%;
      }

      &>button {
        @include choose-postcard-btn();
        margin-left: 30%;
      }
    }
  }
}