.three-cards{
  max-width: 1920px;
  margin: auto;
  background-image: url("../..s/assets/three_cards/Vector.svg");
  background-color: $bg-color-light-green;
  min-height: 734px;
  display: flex;
  overflow: hidden;

  @media (max-width: 1359px) {
    background-image: url("../../assets/three_cards/Vector-1000.svg");
    height: 442px;
    min-height: auto;
  }

    @media (max-width: 888px) {
    background-image: url("../../assets/three_cards/Vector-768.svg");
    height: 866px;
  }

  .three-cards-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: auto;

    @media (max-width: 888px) {
      flex-direction: column;
      height: 705px;
    }

    .cards-item {

      img {
        width: 433px;
        height: 332px;

        @media (max-width: 1359px) {
          width: 267px;
          height: 205px;
        }

      }
    }
  }
}