@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body, h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  -webkit-user-select: none; /* для Safari */
  -moz-user-select: none; /* для Firefox */
  -ms-user-select: none; /* для Internet Explorer/Edge */
  user-select: none;
}

html, body {
  background-color: #CFF9C5;
  height: 100%;
  margin: 0;
  padding: 0;
}