// основные переменные


$desktop-width: 1920px;

// цвета фона и кнопок
$bg-color-light-green: #CFF9C5;
$bg-color-green: #73B064;
$color-orange: #F5B02B;
$color-orange-light: #FFF8E3;
$color-pink-light: #FFF4D7;
$color-dot-green-light: #C0EAB5;

// шрифты 
$text-color: #414141;
$text-shantell-sans: 'Shantell Sans', cursive, sans-serif;
$text-norms-pro: 'TT Norms Pro', sans-serif;
$text-color-white: #ffffff;
$text-color-orange: #FFCE00;
$text-color-placeholder: #A0A0A0;


body, h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

html, body {
  background-color: $bg-color-light-green;
  height: 100%;
  margin: 0;
  padding: 0;
}


// оглавление Открытки, О фонде, Пожертвования

@mixin block-title() {
  background-repeat: no-repeat;
  //background-position: right center; 
  width: 15%;
  height: auto;
  margin: auto;
  margin-bottom: 90px;

  &>h2 {
    font-family: $text-shantell-sans;
    font-weight: 500;
    font-size: 60px;
    padding: 4% 0;
    color: $text-color;
  }
}

// блоки о фонде

@mixin about-fund-block() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 27%;
  width: 85%;
}

@mixin af-pic() {
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
}

@mixin af-text() {
  background-repeat: no-repeat;
  height: 60%;
  width: 60%;
  margin-top: 9%;
}

// кнопка выбрать открытку

@mixin choose-postcard-btn(){
  height: 63px;
  padding: 16px 32px 16px 32px;
  border: 1px solid $bg-color-green;
  border-radius: 56px;
  background-color: $bg-color-green;
  margin-top: 7%;
  font-family: $text-norms-pro;
  font-weight: 500;
  font-size: 26px;
  color: $text-color-white;
  cursor: pointer;
  

  &:hover{
    background-color: $color-orange;
    border: 1px solid $color-orange;
  }

  &:active{
    background-color: $color-orange;
    border: 1px solid $bg-color-green;
  }
}

// блок оплата

@mixin help-field-block(){
  width: 193px;
  padding: 16px 28px 16px 28px;
  border-radius: 56px;
  font-family: $text-norms-pro;
  color: $text-color-placeholder;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  cursor: pointer;
}

@mixin pay-active(){
  background-color: $bg-color-green;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-align: center;
  color: $text-color-white;
}

@mixin pay-slider(){
  width: 499px;
  overflow: hidden;

  .slide-wrap{
    display: flex;
    justify-content: flex-start;
    width: 836px;
    position: relative;
    left: -7px;

    .slide {
      width: 160px; 
      border: 1px solid $bg-color-green;
      border-radius: 40px;
      text-align: center;
      padding: 1% 0;
      color: $text-color-placeholder;
      font-family: $text-norms-pro;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0.01em;
      cursor: pointer;
      margin-left: 7px;
    }
  }

  .dots {
    height: 25px;
    width: 125px;
    margin: auto;
    margin-top: 2%;

    .dot {
      display: inline-block;
      width: 24px; 
      height: 24px; 
      background-color: $color-dot-green-light;
      border-radius: 50%; 
      margin: 0 7px; 
      cursor: pointer; 
    }

    .dot-active {
      background-color: $bg-color-green;
    }
  }
}

@mixin pay-input-form() {
  width: 499px;
  height: 66px;
  padding: 20px 32px;
  border-radius: 40px;
  border: 2px solid;
  margin-bottom: 8px;
  border: 1px solid $bg-color-green;
  border-radius: 40px;
  text-align: center;
  padding: 1% 0;
  color: $text-color-placeholder;
  font-family: $text-norms-pro;
  font-size: 22px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;

  &:focus::placeholder {
    color: transparent;
  }
}

@mixin pay-checkbox() {

    .pay-checkbox {
      width: 16px;
      height: 16px;
    }
    .pay-checkbox-text {
      font-family: $text-norms-pro;
      color: $text-color-placeholder;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.01em;
      text-align: left;
    }
}






