.about-fund {
  max-width: 1920px;
  background-image: url(../../assets/fund/Vector.svg);
  background-repeat: no-repeat;
  margin: auto;
}
.about-fund .about-fund-wrapper {
  height: 1627px;
  padding: 10% 0 10% 0;
}